:root {
    --font-family: 'Lato', sans-serif;
    --font-size: 18px;
    --primary: #375B9F;
    --secondary: #C7E2FF;
    --secondary--dark: #6CBCFC;
    --tertiary: #F5C451;
    --neutral: slategray;

    --info: #6CBCFC;
    --info--light: #EFF7FF;
    --warning--dark: #ff8c00;
    --warning: #ff9a00;
    --warning--light: #FCEBD0;
    --success: #23D3BD;
    --success--light: #c9f5ef;
    --success--dark: #18b09f;
    --danger--dark: #b82e76;
    --danger: #ef5da8;
    --danger--light: #FAE5E4;

    --badge__bg: transparent;
    --badge__color: inherit;
    --badge__color--dark: inherit;
    --badge__font--size: .5rem;

    --button__bg: transparent;
    --button__color: white;
    --button__font--size: .75rem;

    --header__padding: 0 24px;
    --header__height: 48px;

    --panel__bg: white;
    --panel__width: 600px!important;
    --panel__height: 480px!important;
    --panel__gap: .5rem;
    --qr__width: 120px;

      // Input
    --input__font--size: 14px;
    --input__label--size: 18px;
    --input__label--weight: bold;
    --input__label--lineHeight: 1.25;
    --input__label--color: var(--neutral);
    --input__font--color: var(--neutralDark);
    --input__padding: .5rem .75rem;
    --input__border: solid 1px var(--neutral);
    --input__border--radius: 6px;
}

%baseFlexRow {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: var(--panel__gap);
}

%baseFlexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    gap: 2rem;
}

html {
    width: var(--panel__width);
    height: var(--panel_height);
    box-sizing: border-box;
    padding: 0;
    height: fit-content;
    font-family: var(--font-family);
    overflow-y: hidden;
}

#home {
    padding: 4rem 2.5rem;
    width: var(--panel__width);
    height: var(--panel_height);
    box-sizing: border-box;

    img {
        max-width: 200px;
    }

    p {
        text-align: center;
        font-size: 14px;
        line-height: 22px;
        color: var(--neutral);
    }
}

#form {
    flex-direction: column;
    padding: 0!important;
    width: var(--panel__width);
    height: var(--panel_height);
}

// Componentes
header {
    @extend %baseFlexRow;
    align-items: center;
    justify-content: space-between;
    height: var(--header__height);
    width: var(--panel__width);
    transform: translateX(-8px);
    // box-shadow: 0px 2px 4px 0px lightgray;
    padding: var(--header__padding);
    box-sizing: border-box;
    
    > img {
        max-width: 200px;
    }
}

footer {
    @extend %baseFlexRow;
    align-items: center;
    justify-content: space-between;
    height: var(--header__height);
    width: var(--panel__width);
    transform: translateX(-8px);
    padding: var(--header__padding);
    background-color: var(--panel__bg);
    box-sizing: border-box;
}

// Panel
.panel {
    background-color: var(--panel__bg);
    border-radius: 0 16px;
    padding: 0!important;

    .panel__flex--wrap {
        @extend %baseFlexRow;
        flex-wrap: wrap;
    }

    .panel__flex--between {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .panel__container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 2rem 1rem;
        gap: 4rem;
        height: calc(var(--panel__height) - var(--header__height));
        overflow-y: hidden;

        &--row {
            @extend %baseFlexRow;
        }

        &--col {
            @extend %baseFlexCol;
            justify-content: space-between;
            height: 100%;
            width: 100%;
        }

        &--left {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            max-height: calc(var(--panel__height) - var(--header__height));
            width: calc(var(--qr__width) + 2.5rem);
            gap: var(--panel__gap);

            // QR
            .qr__wrapper {
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;
                border: solid 1px black;
                padding: .25rem;
                width: calc(var(--qr__width) + 2.5rem);
                height: calc(var(--qr__width) + 2.5rem);
            }
        }

        &--right {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            max-height: calc(var(--panel__height) - var(--header__height));
            flex: 1;
            overflow-y: scroll;
        }
    }

    // Badge
    #badgeHolder {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: fit-content;
        gap: var(--panel__gap);
    }

    %baseBadge {
        padding: .5rem .75rem;
        color: var(--badge__color--dark);
        background: var(--badge__bg);
        text-transform: uppercase;
        text-wrap: nowrap;
        font-size: var(--badge__font--size);
        font-weight: 700;
        border-radius: .5rem;
        height: fit-content;
        align-self: center;
    }

    .panel__badge {

        &--success {
            --badge__bg: var(--success--light);
            --badge__color: var(--success);
            --badge__color--dark: var(--success--dark);
            @extend %baseBadge;
      }

        &--warning {
            --badge__bg: var(--warning--light);
            --badge__color: var(--warning);
            --badge__color--dark: var(--warning--dark);
            @extend %baseBadge;
      }

        &--danger {
            --badge__bg: var(--danger--light);
            --badge__color: var(--danger);
            --badge__color--dark: var(--danger--dark);
            @extend %baseBadge;
      }
    }

    // Button
    %baseButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: 36px;
        border: solid 2px var(--button__color);
        border-radius: 24px;
        padding: .65rem 1rem;
        color: var(--button__color);
        font-size: var(--button__font--size);
        background: var(--button__bg);
        white-space: nowrap;
        gap: var(--panel__gap);
        filter: brightness(1);
        transition: filter 0.2s;

        a {
            text-decoration: none;
            color: var(--button__color);
        }

        &[disabled] {
            cursor: not-allowed!important;
            user-select: none;
            opacity: 0.3;
            filter: grayscale(1);
    
            &:hover {
                cursor: not-allowed!important;
                user-select: none;
                opacity: 0.3;
                filter: grayscale(1);
            }
        }
    }

    [class^='panel__btn'] {
        &:hover {
            filter: brightness(75%);
            cursor: pointer;
            // background-color: var(--button__color);
        }
    }


    .panel__btn {

    // Types
    &--primary {
        --button__color: inherit;
        --button__bg: var(--primary);
        border: solid 2px var(--primary);
        @extend %baseButton;
        }

    &--secondary {
        --button__color: var(--secondary--dark);
        --button__bg: transparent;
        @extend %baseButton;   
        }

    &--tertiary {
        --button__color: #375B9F;
        --button__bg: transparent;
        @extend %baseButton;
        }

    &--link {
        --button__color: #458DFC;
        --button__bg: transparent;
        text-decoration: underline;
        font-weight: 400;
        border: none!important;
        text-wrap: nowrap;
        @extend %baseButton;
        }

    // Severity
    &--success {
        --button__color: inherit;
        --button__bg: var(--success--dark);
        @extend %baseButton;
        }

    &--warning {
        --button__color: var(--warning);
        --button__bg: var(--secondary);
        @extend %baseButton;   
        }

    &--danger {
        --button__color: var(--danger);
        --button__bg: transparent;
        @extend %baseButton;
        }
    }

    // Sizes
    $sizes: 'sm', 'md', 'lg';
    $fontSizes: 16px, 24px, 36px;

    $sizes: 'sm', 'md', 'lg';
    $fontSizes: 24px, 36px, 48px;
    
    @each $size, $fontSize in zip($sizes, $fontSizes) {
        button[size=#{$size}] {
            height: $fontSize;
            width: $fontSize;
        }
    }

    .panel__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    // Tipography
    .panel__title {
        text-wrap: nowrap;
        font-size: 18px;
        margin: 0;
        color: var(--primary);
    }

    // Stepper
    .stepper__wrapper--row { 
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: var(--panel__gap);

        .step__wrapper--col {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
    
            > h3.step__title {
                font-size: 14px;
                font-weight: 600;
                line-height: 18px;
                color: var(--primary);
            }
        }
            
        .step__icon {
            // margin-top: 1rem;
        }

        .step__text {
            font-size: 11px;
            font-weight: normal;
            line-height: 16px;
            text-align: center;
            color: var(--neutral);
        }
    }

    // Timer
    .timer__wrapper--row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--panel__gap);
    }

    .timer__wrapper--col {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        text-align: left;
    }

        #timer {
            color: var(--neutral);
            font-size: 36px;
            font-weight: bolder;
            width: 140px;
        }

        .timer__text {
            font-size: 12px;
            line-height: 16px;
            font-weight: normal;
            text-transform: uppercase;
            color: var(--neutral);
        }
        
        
    // Icons
    .icon__wrapper {
        align-self: center;
    }

    // Inputs
    .required {
        color: var(--danger--dark);
    }

    .input__label {
        font-size: 13px;
        font-weight: 600;
        color: var(--primary);
        margin-bottom: .35rem;
    }

    input, textarea, select {
        font-size: var(--input__font--size);
        color: var(--input__font--color);
        padding: var(--input__padding);
        border: var(--input__border);
        border-radius: var(--input__border--radius);
        width: 100%;
        box-sizing: border-box;
    
        &.input__size--sm {
        --input__font--size: 14px;
        --input__padding: .5rem;
        --input__border--radius: 4px;
        }

        &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.5;
        }
    }

    .input__container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem; 
    }

    .input__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--panel__gap);

        p {
           flex: 1;
        }

        >.switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;

            > input { 
            opacity: 0;
            width: 0;
            height: 0;

            & + .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 34px;
                
                &:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: var(--primary);
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 50%;
                }
            }
                   
            &:checked + .slider {
                background-color: var(--secondary);
                
                &.round {
                    border-radius: 34px;
                }
                
                &.round:before {
                    border-radius: 50%;
                }

                &:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                    }
                }
                    
                &:focus + .slider {
                box-shadow: 0 0 1px var(--primary);
                }     
            }
        }

        .slider__label {
            font-size: 12px;
            line-height: 16px;
            font-weight: normal;
            color: var(--neutral);
        }
    }

    #outputContainer {
        display: grid;
        grid-template-columns: repeat(autofill, minmax(180px, 1fr));
        color: var(--neutralDark);
        
        label {
            font-size: 14px;
            white-space: normal;
            font-weight: bolder;
            margin: 1rem 0 0 0;
        }
    
        p {
            font-size: 14px;
            margin: .5rem 0 0 0;
        }
    }
}
