:root {
  --font-family: "Lato", sans-serif;
  --font-size: 18px;
  --primary: #375B9F;
  --secondary: #C7E2FF;
  --secondary--dark: #6CBCFC;
  --tertiary: #F5C451;
  --neutral: slategray;
  --info: #6CBCFC;
  --info--light: #EFF7FF;
  --warning--dark: #ff8c00;
  --warning: #ff9a00;
  --warning--light: #FCEBD0;
  --success: #23D3BD;
  --success--light: #c9f5ef;
  --success--dark: #18b09f;
  --danger--dark: #b82e76;
  --danger: #ef5da8;
  --danger--light: #FAE5E4;
  --badge__bg: transparent;
  --badge__color: inherit;
  --badge__color--dark: inherit;
  --badge__font--size: .5rem;
  --button__bg: transparent;
  --button__color: white;
  --button__font--size: .75rem;
  --header__padding: 0 24px;
  --header__height: 48px;
  --panel__bg: white;
  --panel__width: 600px!important;
  --panel__height: 480px!important;
  --panel__gap: .5rem;
  --qr__width: 120px;
  --input__font--size: 14px;
  --input__label--size: 18px;
  --input__label--weight: bold;
  --input__label--lineHeight: 1.25;
  --input__label--color: var(--neutral);
  --input__font--color: var(--neutralDark);
  --input__padding: .5rem .75rem;
  --input__border: solid 1px var(--neutral);
  --input__border--radius: 6px;
}

.panel .panel__container--row, .panel .panel__flex--wrap, footer, header {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: var(--panel__gap);
}

.panel .panel__container--col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  gap: 2rem;
}

html {
  width: var(--panel__width);
  height: var(--panel_height);
  box-sizing: border-box;
  padding: 0;
  height: fit-content;
  font-family: var(--font-family);
  overflow-y: hidden;
}

#home {
  padding: 4rem 2.5rem;
  width: var(--panel__width);
  height: var(--panel_height);
  box-sizing: border-box;
}
#home img {
  max-width: 200px;
}
#home p {
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  color: var(--neutral);
}

#form {
  flex-direction: column;
  padding: 0 !important;
  width: var(--panel__width);
  height: var(--panel_height);
}

header {
  align-items: center;
  justify-content: space-between;
  height: var(--header__height);
  width: var(--panel__width);
  transform: translateX(-8px);
  padding: var(--header__padding);
  box-sizing: border-box;
}
header > img {
  max-width: 200px;
}

footer {
  align-items: center;
  justify-content: space-between;
  height: var(--header__height);
  width: var(--panel__width);
  transform: translateX(-8px);
  padding: var(--header__padding);
  background-color: var(--panel__bg);
  box-sizing: border-box;
}

.panel {
  background-color: var(--panel__bg);
  border-radius: 0 16px;
  padding: 0 !important;
}
.panel .panel__flex--wrap {
  flex-wrap: wrap;
}
.panel .panel__flex--between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.panel .panel__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2rem 1rem;
  gap: 4rem;
  height: calc(var(--panel__height) - var(--header__height));
  overflow-y: hidden;
}
.panel .panel__container--col {
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.panel .panel__container--left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  max-height: calc(var(--panel__height) - var(--header__height));
  width: calc(var(--qr__width) + 2.5rem);
  gap: var(--panel__gap);
}
.panel .panel__container--left .qr__wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  padding: 0.25rem;
  width: calc(var(--qr__width) + 2.5rem);
  height: calc(var(--qr__width) + 2.5rem);
}
.panel .panel__container--right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  max-height: calc(var(--panel__height) - var(--header__height));
  flex: 1;
  overflow-y: scroll;
}
.panel #badgeHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
  gap: var(--panel__gap);
}
.panel .panel__badge--danger, .panel .panel__badge--warning, .panel .panel__badge--success {
  padding: 0.5rem 0.75rem;
  color: var(--badge__color--dark);
  background: var(--badge__bg);
  text-transform: uppercase;
  text-wrap: nowrap;
  font-size: var(--badge__font--size);
  font-weight: 700;
  border-radius: 0.5rem;
  height: fit-content;
  align-self: center;
}
.panel .panel__badge--success {
  --badge__bg: var(--success--light);
  --badge__color: var(--success);
  --badge__color--dark: var(--success--dark);
}
.panel .panel__badge--warning {
  --badge__bg: var(--warning--light);
  --badge__color: var(--warning);
  --badge__color--dark: var(--warning--dark);
}
.panel .panel__badge--danger {
  --badge__bg: var(--danger--light);
  --badge__color: var(--danger);
  --badge__color--dark: var(--danger--dark);
}
.panel .panel__btn--danger, .panel .panel__btn--warning, .panel .panel__btn--success, .panel .panel__btn--link, .panel .panel__btn--tertiary, .panel .panel__btn--secondary, .panel .panel__btn--primary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 36px;
  border: solid 2px var(--button__color);
  border-radius: 24px;
  padding: 0.65rem 1rem;
  color: var(--button__color);
  font-size: var(--button__font--size);
  background: var(--button__bg);
  white-space: nowrap;
  gap: var(--panel__gap);
  filter: brightness(1);
  transition: filter 0.2s;
}
.panel .panel__btn--danger a, .panel .panel__btn--warning a, .panel .panel__btn--success a, .panel .panel__btn--link a, .panel .panel__btn--tertiary a, .panel .panel__btn--secondary a, .panel .panel__btn--primary a {
  text-decoration: none;
  color: var(--button__color);
}
.panel [disabled].panel__btn--danger, .panel [disabled].panel__btn--warning, .panel [disabled].panel__btn--success, .panel [disabled].panel__btn--link, .panel [disabled].panel__btn--tertiary, .panel [disabled].panel__btn--secondary, .panel [disabled].panel__btn--primary {
  cursor: not-allowed !important;
  user-select: none;
  opacity: 0.3;
  filter: grayscale(1);
}
.panel [disabled].panel__btn--danger:hover, .panel [disabled].panel__btn--warning:hover, .panel [disabled].panel__btn--success:hover, .panel [disabled].panel__btn--link:hover, .panel [disabled].panel__btn--tertiary:hover, .panel [disabled].panel__btn--secondary:hover, .panel [disabled].panel__btn--primary:hover {
  cursor: not-allowed !important;
  user-select: none;
  opacity: 0.3;
  filter: grayscale(1);
}
.panel [class^=panel__btn]:hover {
  filter: brightness(75%);
  cursor: pointer;
}
.panel .panel__btn--primary {
  --button__color: inherit;
  --button__bg: var(--primary);
  border: solid 2px var(--primary);
}
.panel .panel__btn--secondary {
  --button__color: var(--secondary--dark);
  --button__bg: transparent;
}
.panel .panel__btn--tertiary {
  --button__color: #375B9F;
  --button__bg: transparent;
}
.panel .panel__btn--link {
  --button__color: #458DFC;
  --button__bg: transparent;
  text-decoration: underline;
  font-weight: 400;
  border: none !important;
  text-wrap: nowrap;
}
.panel .panel__btn--success {
  --button__color: inherit;
  --button__bg: var(--success--dark);
}
.panel .panel__btn--warning {
  --button__color: var(--warning);
  --button__bg: var(--secondary);
}
.panel .panel__btn--danger {
  --button__color: var(--danger);
  --button__bg: transparent;
}
.panel button[size=sm] {
  height: 24px;
  width: 24px;
}
.panel button[size=md] {
  height: 36px;
  width: 36px;
}
.panel button[size=lg] {
  height: 48px;
  width: 48px;
}
.panel .panel__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.panel .panel__title {
  text-wrap: nowrap;
  font-size: 18px;
  margin: 0;
  color: var(--primary);
}
.panel .stepper__wrapper--row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--panel__gap);
}
.panel .stepper__wrapper--row .step__wrapper--col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.panel .stepper__wrapper--row .step__wrapper--col > h3.step__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: var(--primary);
}
.panel .stepper__wrapper--row .step__text {
  font-size: 11px;
  font-weight: normal;
  line-height: 16px;
  text-align: center;
  color: var(--neutral);
}
.panel .timer__wrapper--row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--panel__gap);
}
.panel .timer__wrapper--col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: left;
}
.panel #timer {
  color: var(--neutral);
  font-size: 36px;
  font-weight: bolder;
  width: 140px;
}
.panel .timer__text {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--neutral);
}
.panel .icon__wrapper {
  align-self: center;
}
.panel .required {
  color: var(--danger--dark);
}
.panel .input__label {
  font-size: 13px;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 0.35rem;
}
.panel input, .panel textarea, .panel select {
  font-size: var(--input__font--size);
  color: var(--input__font--color);
  padding: var(--input__padding);
  border: var(--input__border);
  border-radius: var(--input__border--radius);
  width: 100%;
  box-sizing: border-box;
}
.panel input.input__size--sm, .panel textarea.input__size--sm, .panel select.input__size--sm {
  --input__font--size: 14px;
  --input__padding: .5rem;
  --input__border--radius: 4px;
}
.panel input.disabled, .panel textarea.disabled, .panel select.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.panel .input__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.panel .input__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--panel__gap);
}
.panel .input__wrapper p {
  flex: 1;
}
.panel .input__wrapper > .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.panel .input__wrapper > .switch > input {
  opacity: 0;
  width: 0;
  height: 0;
}
.panel .input__wrapper > .switch > input + .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.panel .input__wrapper > .switch > input + .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
.panel .input__wrapper > .switch > input:checked + .slider {
  background-color: var(--secondary);
}
.panel .input__wrapper > .switch > input:checked + .slider.round {
  border-radius: 34px;
}
.panel .input__wrapper > .switch > input:checked + .slider.round:before {
  border-radius: 50%;
}
.panel .input__wrapper > .switch > input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.panel .input__wrapper > .switch > input:focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}
.panel .input__wrapper .slider__label {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: var(--neutral);
}
.panel #outputContainer {
  display: grid;
  grid-template-columns: repeat(autofill, minmax(180px, 1fr));
  color: var(--neutralDark);
}
.panel #outputContainer label {
  font-size: 14px;
  white-space: normal;
  font-weight: bolder;
  margin: 1rem 0 0 0;
}
.panel #outputContainer p {
  font-size: 14px;
  margin: 0.5rem 0 0 0;
}

/*# sourceMappingURL=style.css.map */
